<div class="container mt-4">
  <div class="card shadow p-4">

    <h2 class="mb-4">Create New Article</h2>
    <% if @article.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@article.errors.count, "error") %> prevented this article from being saved:</h4>

    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <%= form_with(model: @article, local: true) do |f| %>

      <div class="mb-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-control", placeholder: "Enter title..." %>
      </div>

      <div class="mb-3">
        <%= f.label :body, class: "form-label" %>
        <%= f.text_area :body, rows: 8, class: "form-control", placeholder: "Write your article..." %>
      </div>

      <div class="mb-3">
        <%= f.label :status, class: "form-label" %>
        <%= f.select :status,
          [["Public", "public"], ["Private", "private"], ["Archived", "archived"]],
          {},
          class: "form-select" %>
      </div>

      <div class="d-flex justify-content-between">
        <%= link_to "← Back to Articles",
            articles_path,
            class: "btn btn-outline-secondary" %>

        <%= f.submit "Publish Article",
            class: "btn btn-primary px-4" %>
      </div>

    <% end %>

  </div>
</div>